<% @page_title = "Edit Page" %>

<%= link_to("<< Back to List", pages_path(:subject_id => @subject.id), :class => 'back-link') %>

<div class="pages edit">
  <h2>Update Page</h2>

  <!-- for_for knows to patch to pages_path to create new resource; , ":url => pages_path, :method => 'patch'" not required -->
  <%= form_for(@page, :url => page_path(@page, :subject_id => @subject.id)) do |f| %>

    <!-- use partial template '_form' with variable 'f' -->
      <!-- if partial template in another DIR then use full path -->
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Page") %>
    </div>

  <% end %>
</div>