<% @page_title = "Edit Subject" %>

<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Update Subject</h2>

  <!-- for_for knows to patch to subjects_path to create new resource; , ":url => subjects_path, :method => 'patch'" not required -->
  <%= form_for(@subject) do |f| %>

    <!-- use partial template '_form' with variable 'f' -->
      <!-- if partial template in another DIR then use full path -->
    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Subject") %>
    </div>

  <% end %>
</div>